<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vimems"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- android:name="org.litepal.LitePalApplication"-->
    <application
       android:name="util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ble.AppBluetoothGatt.GattMainActivity"></activity>
        <activity android:name=".Ble.DeviceBluetoothGattServer.DeviceGattServerActivity"/>
        <activity android:name=".Ble.BleScannerActivity" />
        <activity android:name=".mainactivity.CoachMainActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|stateUnchanged">

            <!-- android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivity.AdminMainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".admin.CoachDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".admin.AddCoach" />
        <activity android:name=".Ble.BleScannerAdvertiserActivity"> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        </activity>

        <service
            android:name=".Ble.AdvertiserService"
            android:enabled="false"
            android:exported="false"></service>
        <service
            android:name=".Ble.AppBluetoothGatt.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name=".mainactivity.BluetoothLeService"
            android:enabled="true" />

        <!--&lt;!&ndash;<activity android:name=".Ble.DeviceBluetoothGattServer.GattServerActivity" />
        <activity android:name=".Ble.AppBluetoothGatt.DeviceControlActivity" />-->
        <activity android:name=".Ble.AppBluetoothGatt.GattPeripheralDetailActivity"/>
        <activity android:name=".coach.MemberDetailActivity"/>
        <activity android:name=".Ble.BindDeviceActivity"/>
        <activity android:name=".mainactivity.SingleModeTrainingMainActivity"/>
        <activity android:name=".mainactivity.SingleMultiplyaerModeSelecteActivity"/>
        <activity android:name=".mainactivity.MultiplayerModeTrainingMainActivity"/>

    </application>

</manifest>